# ======================
# Git
# ======================
.git
.gitignore

# ======================
# Python cache
# ======================
__pycache__/
*.pyc
*.pyo
*.pyd

# ======================
# Virtual environments
# ======================
venv/
.venv/
env/

# ======================
# Local config
# ======================
.env

# ======================
# IDE files
# ======================
.vscode/
.idea/

# ======================
# Docs & misc
# ======================
README.md
*.log
.DS_Store
Thumbs.db

# ======================
# Large unnecessary files
# ======================
*.faiss
*.pkl
*.joblib
