# ======================
# Python
# ======================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# ======================
# Virtual environment
# ======================
venv/
.venv/
env/

# ======================
# Environment variables
# ======================
.env

# ======================
# IDE / Editor
# ======================
.vscode/
.idea/
*.iml

# ======================
# OS files
# ======================
.DS_Store
Thumbs.db

# ======================
# Logs
# ======================
*.log

# ======================
# Model / vector cache
# ======================
*.faiss
*.pkl
*.joblib


.deepeval/

# Evaluation artifacts
eval_framework/evaluation_results_detailed.csv
eval_framework/evaluation_history.csv
.deepeval/
